@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

:root{
    --fonte-um: "Press Start 2P", system-ui;
    --fonte-dois: "IBM Plex Mono", monospace;
    --cor-um: #5D04D9;
    --cor-dois: #03318C;
    --cor-tres: #FFFFFF;
    --cor-quatro: #000000;
    --cor-cinco: #D6D6D6;
}

body {
    box-sizing: border-box;
}

h1 {
    font-family: var(--fonte-um);
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.cabecalho {
    background-color: var(--cor-um);
    box-shadow: 0 7px var(--cor-cinco);
}

.conteudo_cabecalho {
    display: flex;
    color: var(--cor-tres);
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.principal {
    display: flex;
    justify-content: space-evenly;
    margin: 6.8rem 4.8vw 6.8rem 4.8vw;
}

.secao_produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52.6vw;
    margin: 2.5rem;
    height: 70rem;
    gap: 2.5rem;
}

.produtos_container {
    width: 100%;
    height: 100%;
    box-shadow: -9px 8.5px 4px var(--cor-cinco);
    overflow-y: auto;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
    font-family: var(--fonte-dois);
    color: var(--cor-tres);
}

.produto_item {
    list-style-type: none;
    width: 13.6vw;
    height: fit-content;
    margin-bottom: 4.8rem;
    background-color: var(--cor-um);
    padding: 0.6rem;
    border: medium solid var(--cor-quatro);
    border-radius: 0.9rem;
}

.produto_imagem {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 0.7rem;
}

.produto_barra {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    height: 1.5rem;
    align-items: center;
    margin-top: 0.7rem;
}

.produto_barra_icone:hover {
    cursor: pointer;
}

.secao_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32.5vw;
    margin: 2.5rem;
    gap: 2.5rem;
}

.campo_escrita {
    width: 26vw;
    height: 2.5rem;
    border: medium solid var(--cor-dois);
    border-radius: 1.8rem;
    padding-left: 0.7rem;
}

.campo_escrita::placeholder {
    color: var(--cor-dois);
    font-weight: 600;
    font-family: var(--fonte-dois);
}

.botoes_container {
    width: 27vw;
    display: flex;
    justify-content: space-between;
}

.botao {
    border-radius: 0.9rem;
    border: medium solid var(--cor-dois);
    height: 2.7rem;
    width: 12vw;
    font-weight: 500;
    font-family: var(--fonte-dois);
    font-size: 1.25rem;
}

.botao:hover {
    cursor: pointer;
}

.guardar {
    background-color: var(--cor-dois);
    color: var(--cor-tres);
}

.limpar {
    background-color: var(--cor-tres);
    color: var(--cor-dois);
}

.rodape {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-um);
    color: var(--cor-tres);
    font-family: var(--fonte-dois);
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 4px var(--cor-cinco);
}

.conteudo_rodape_logo {
    padding-top: 4rem;
    display: flex;
    align-items: center;
}

.conteudo_rodape_creditos {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
}

.icon_git {
    width: 2rem;
}

.conteudo_rodape_fim {
    padding-bottom: 4rem;
    font-weight: 200;
    margin: 0;
}