@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

:root{
    --fonte-um: "Press Start 2P", system-ui;
    --fonte-dois: "IBM Plex Mono", monospace;
    --cor-um: #5D04D9;
    --cor-dois: #03318C;
    --cor-tres: #FFFFFF;
    --cor-quatro: #000000;
    --cor-cinco: #D6D6D6;
}

body {
    box-sizing: border-box;
}

h1 {
    font-family: var(--fonte-um);
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.cabecalho {
    background-color: var(--cor-um);
    box-shadow: 0 7px var(--cor-cinco);
}

.conteudo_cabecalho {
    display: flex;
    color: var(--cor-tres);
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.principal {
    display: flex;
    justify-content: space-evenly;
    margin: 6.8rem 4.8vw 6.8rem 4.8vw;
}

.secao_produtos {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    width: 52.6vw;
    margin: 2.5rem;
    height: 70rem;
    gap: 2rem;
}

.produtos_container {
    width: 100%;
    height: 100%;
    box-shadow: -9px 8.5px 4px var(--cor-cinco);
    overflow-y: auto;
    scrollbar-width: thin;
}

.mensagem__titulo {
    color: #000000;
    font-family: var(--fonte-dois);
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
    font-family: var(--fonte-dois);
    color: var(--cor-tres);
}

.produto_item {
    list-style-type: none;
    width: 13.6vw;
    aspect-ratio: 1/1.4;
    margin-bottom: 4.8rem;
    background-color: var(--cor-um);
    padding: 0.6rem;
    border: medium solid var(--cor-quatro);
    border-radius: 0.9rem;
    box-shadow: -9px 8.5px 4px var(--cor-cinco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto_imagem {
    width: 97%;
    aspect-ratio: 1/1;
    border: medium solid var(--cor-quatro);
    border-radius: 0.4rem;
}

.produto_barra {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    height: 1.5rem;
    align-items: center;
}

.botao_apagar {
    padding: 0;
    border: 0;
    background-color: var(--cor-um);
}

.botao_apagar:hover {
    cursor: pointer;
}

.secao_formulario {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    width: 32.5vw;
    margin: 2.5rem;
    gap: 2rem;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.campo_escrita {
    width: 26vw;
    height: 2.5rem;
    border: medium solid var(--cor-dois);
    border-radius: 1.8rem;
    padding-left: 0.7rem;
}

.campo_escrita::placeholder {
    color: var(--cor-dois);
    font-weight: 600;
    font-family: var(--fonte-dois);
}

.botoes_container {
    width: 27vw;
    display: flex;
    justify-content: space-between;
}

.botao {
    border-radius: 0.9rem;
    border: medium solid var(--cor-dois);
    height: 3rem;
    width: 13vw;
    font-weight: 500;
    font-family: var(--fonte-dois);
    font-size: 1.25rem;
}

.botao:hover {
    cursor: pointer;
}

.guardar {
    background-color: var(--cor-dois);
    color: var(--cor-tres);
}

.limpar {
    background-color: var(--cor-tres);
    color: var(--cor-dois);
}

.rodape {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-um);
    color: var(--cor-tres);
    font-family: var(--fonte-dois);
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 4px var(--cor-cinco);
    text-align: center;
}

.conteudo_rodape_logo {
    padding-top: 4rem;
    display: flex;
    align-items: center;
}

.conteudo_rodape_creditos {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
}

.icon_git {
    width: 2rem;
}

.conteudo_rodape_fim {
    padding-bottom: 4rem;
    font-weight: 200;
    margin: 0;
}

@media(max-width: 768px) {
    .principal {
        flex-direction: column-reverse;
        margin: 0 0 6.8rem 0;
    }

    .secao_produtos {
        width: auto;
        height: 40rem;
        margin-left: 0;
        margin-right: 0;
    }

    .produtos_container {
        box-shadow: none;
        overflow-y: hidden;
    }

    .produtos {
        display: flex;
        overflow-x: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1.1rem;
    }

    .produto_item {
        flex: 0 0 auto;
        width: 40vw;
        box-shadow: -6px 6.5px 4px var(--cor-cinco);
        margin-bottom: 2.4rem;
        width: calc(50vw - 3.2rem);
    }

    .secao_formulario {
        width: auto;
    }

    .campo_escrita {
        width: 78vw;
    }

    .botoes_container {
        width: 82vw;
        justify-content: space-between;
    }

    .botao {
        height: 3.2rem;
        width: 39.4vw;
        font-weight: 400;
    }
}